<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vocablo.mario.vocablo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- ESCRIBIR ARCHIVOS EN LA MEMORIA EXTERNA -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- LEER ARCHIVOS EN LA SD -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:screenOrientation="portrait" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExamenDiagnostico"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RealizacionDiag"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistrarAlumno"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistrarProfesor"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistrarAdministrativo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InterfazAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InterfazAlumno"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InterfazMaestro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InterfazPago"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InterfazProgresoAlumno"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InterfazAgendarCita"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InterfazCitasAgendadas"
            android:screenOrientation="portrait" />
        <activity android:name=".Critica" />
        <activity android:name=".EvaluarAlumno" />
        <activity android:name=".RevisarTutorados" />
        <activity android:name=".VerCitas"></activity>
    </application>

</manifest>